.timeline-item{
	opacity: 0;
	transform: translateY(-150px);
	transition: 1s all ease;
	&_active{
		opacity: 1;
		transform: translateY(0);
	}
}



.timelineDot {
	@apply h-8 w-8  md:h-12 md:w-12;
}

.contentBox {
	@apply w-60 md:w-[500px] py-3 md:py-5 px-5 flex flex-col;

	* {
		@apply my-2;
	}
}

.jobTitle {
	@apply text-xl md:text-3xl font-bold;
}

.companyRow {
	@apply flex flex-row items-center justify-start;

	* {
		@apply mx-2;
	}
}

.companyName {
	@apply text-xs md:text-xl;
}

.date {
	@apply text-gray-400 italic  text-xs md:text-base;
}

.explanationPointList {
	list-style-type: square;
	@apply text-xs md:text-base px-5;

	* {
		@apply my-2;
	}
}
