.card{
    @apply bg-white  w-80  md:w-5/12  h-auto;
}

.cardMainWrapper{
    margin: 0 !important;
}

.imgWrapper{
    @apply  h-40 md:h-64 w-full;
    margin: 0 !important;
}

.contentWrapper{
    @apply flex items-center justify-center h-14  md:h-20;
}

.title{
    @apply text-xl md:text-3xl;
    font-family: 'Nunito Sans', sans-serif
}

.actionWrapper{
    @apply h-10 ;
    margin: 10px 0 !important ;
}